@import '../../../../variables.scss';

:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.junk-drawer {
    display: flex;
    justify-content: flex-end;
    margin: 10px;

    a {
        color: $text;
        padding: 0 10px;
    }
}

.resume {
    a {
        text-decoration: none;
        color: $text;
        padding: 0 10px;
        font-style: normal;
    }
    i {
        margin-right: 4px;
    }
}