<div class="resume">
    <a id="resume"
        href="https://docs.google.com/document/d/1S1monXAn6O2T_nbrpFFSug39Ex50VZhp8KctLmSdRPM/edit?usp=sharing"
        target="_blank" trackClicks><i class="bi bi-file-person-fill"></i>Resume</a>
</div>
<div class="junk-drawer">
    <a id="github" href="https://github.com/kelliehall" target="_blank" trackClicks><i class="bi bi-github"></i></a>
    <a id="linkedin" href="https://www.linkedin.com/in/khallhi/" target="_blank" trackClicks><i
            class="bi bi-linkedin"></i></a>
    <a id="stackoverflow" href="https://stackoverflow.com/users/5484587/kellie-hall?tab=profile" target="_blank"
        trackClicks><i class="bi bi-stack-overflow"></i></a>
    <a id="email" href="mailto:hello@kelbie.io" trackClicks><i class="bi bi-envelope-fill"></i></a>
</div>