@import "./variables.scss";

body {
    background-color: $background-color;
    font-family: 'Livvic', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $text;
    margin: 0;
    height: 100dvh;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;

    .header {
        flex: 0 0 50px;
    }

    .content {
        padding: 12px;
        flex: 1 1 calc(100dvh - 125px);
    }

    .footer {
        flex-grow: 0;
    }
}