@import '../../../../variables.scss';

.header-bar {
    display: flex;
    padding: 16px 24px;
    justify-content: space-between;
    h1 {
        font-size: 18px;
        margin: 0;
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
            word-break: normal;
            flex-direction: row;
            gap: 32px;
            li {
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}